.carouselDiv {
    max-height: 600px;
    margin-right: 100px;
    width: 100%;
}

.carouselImg {
    max-height: 600px;
    width: 95%;
    object-fit: contain;
    transition: .3s ease-in-out;
}

.custom-arrow-prev {
    left: 122px;
    z-index: 1;
}

.custom-arrow-next {
    right: 122px;
    z-index: 1;
}

.custom-arrow {
    position: absolute;
    top: 275px;
    cursor: pointer;
    opacity: .7;
    transition: opacity 0.3s ease;
}

.custom-arrow:hover {
    opacity: 1;
}

@media only screen and (max-width: 1368px) {
    .custom-arrow {
        top: 170px;
    }
}

@media only screen and (max-width: 913px) {
    .custom-arrow-prev {
        left: 24px;
        z-index: 1;
        height: 48px;
    }

    .custom-arrow-next {
        right: 24px;
        z-index: 1;
        height: 48px;
    }

    .custom-arrow {
        top: 170px;
    }

    .carouselImg {
        height: 400px;
    }
}

@media only screen and (max-width: 750px) {
    .carouselDiv {
        max-height: 600px;
    }

    .carouselImg {
        height: 300px;
    }

    .custom-arrow {
        top: 125px;
    }
}