.homeContainer {
    height: auto;
    display: block;
}
.mainImage {
    margin-left: 15vw;
    width: 84.8%
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.introDiv {
    flex: 1;
    position: absolute;
}

.intro {
    padding-left: 122px;
    padding-top: 162px;
    width: 588px;
}

.specialWorldRed {
    color: #FF206E;
}

.specialWorldBlue {
    color: #41EAd4;
}

.secondBlock {
    margin-top: 162px;
    margin-left: 122px;
    margin-right: 122px;
}

.aboutUsTitle {
    min-width: 270px;
}

.divImgAboutUs {
    max-width: 800px;

}

.aboutUsImg {
    margin-top: -160px;
    margin-left: 100px;
    position: absolute;
    right: 0;
    width: auto;
    z-index: -1;
}

.secondBlockP {
    margin-top: 48px;
    margin-bottom: 48px;
}

.thirdBlock {
    margin-top: 100px;
    margin-left: 122px;
    margin-right: 122px;
    margin-bottom: 48px;
}

.forthBlock {
    margin-top: 200px;
    margin-left: 122px;
    margin-right: 122px;
    margin-bottom: 48px;
}

.btnAboutUs {
    height: 64px;
    width: 404px;
}

.divBtnOurProject {
    width: 80%  ;
    height: 64px;
    padding-top: 100px;
    align-self: center;
}


.btn {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 16px;
    background-color: #1E1E1E;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #666666;
    cursor: pointer;
}

.btn::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FF206E, #41EAd4
    );
    position: absolute;
    margin-top: -20px;
    left: 0;
    background-size: 100%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

.btn:hover::before, .btnOurProject:hover::before {
    opacity: 1;
}

.divVideoPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;    
}

.videoPlayer{
    width: 80%;
    align-self: center;
}

.contact {
    margin-top: 200px;
    height: 132px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(circle, #666666 10%, transparent 10%);
    background-size: 20px 20px;
}

.contactContent {
    margin-left: 122px;
}

.contatButton {
    height: 64px;
    width: 310px;
    margin-right: 122px;
}

.socialMedia {
    margin-top: 100px;
    margin-bottom: 136px;
    height: 128px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    background-image: url('../assets/led.png');
    background-size: cover;
    background-position: center;
}

.socialMediaFirstItem {
    border-radius: 16px 0px 0px 16px;
}

.socialMediaLastItem {
    border-radius: 0px 16px 16px 0px;
}

.socialMediaItem,  .socialMediaFirstItem, .socialMediaLastItem {
    height: 128px;
    outline: 1px solid #666666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1E1E1E;
    width: 220px;
    padding-left: 20px;
}

.socialMediaIcons {
    height: 32px;
    width: 32px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 913px) {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .introDiv {
        width: 60%;
        margin-bottom: -64px;
        position: relative;
    }

    .intro {
        position: relative;
        max-width: 1100px;
        padding-left: 0;
        text-align: left;
        padding-left: 24px;
        width: auto;
        min-width: calc(100% - 24px);
        padding-top: 98px;
        height: auto;
    }
    .mainImage {
        width: 100%;
        height: 100%;
        margin-top: -50px;
        margin-left: 0;
    }

    .secondBlock, .thirdBlock, .forthBlock {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 70px;
    }

    .aboutUsImg {
        margin-top: -140px;
        margin-left: 100px;
    }

    .contact {
        margin-top: 50px;
        height: 258px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .contactContent {
        margin-left: 0px;
        margin-bottom: 38px;
        width: 326px;
        text-align: center;
        margin-top: 38px;
    }
    
    .contatButton {
        margin-left: 50%;
        margin-right: 50%;
        width: 326px;
        height: 64px;
        margin-bottom: 38px;
    }

    .socialMedia {
        flex-direction: column;
        margin-top: 200px;
        height: 500px;
        width: 100%;
        display: flex;
        gap: 0px;
        background-image: none;
    }

    .socialMediaFirstItem {
        border-radius: 16px 16px 0px 0px;
    }
    
    .socialMediaLastItem {
        border-radius: 0px 0px 16px 16px;
    }
    
    .socialMediaItem,  .socialMediaFirstItem, .socialMediaLastItem {
        height: 128px;
        outline: 1px solid #666666;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #1E1E1E;
        width: 60%;
        padding: 20px 20px 20px 20px;
    }
    
    .socialMediaIcons {
        height: 32px;
        width: 32px;
        margin-bottom: 20px;
    }

    .btnAboutUs {
        height: 64px;
        width: 291px;
    }

    .btn::before {
        opacity: 1;
    }

    .divBtnOurProject {
      padding-top: 46px;  
    }
}

@media only screen and (max-width: 750px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }
  
    .introDiv {
        width: 100%;
        margin-bottom: 0;
    }

    .aboutUsImg {
        margin-top: -120px;
        margin-left: 100px;
        width: 30%;
        height: 20%;
    }
}