body {
  margin: 0;
  color: #ffffff;
  background-color: #191919;
  --type-first: 'Futura Imported';
  font-family: var(--type-first);
}

h1,
h2,
p,
span {
  margin: 0;
}

button {
  font-family: var(--type-first);
  font-size: 24px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  font-weight: Medium;
}

p {
  font-size: 1.5rem;
  font-weight: Medium;
}


a {
  text-decoration: none;
  color: #ffffff;
}

.video-responsive {
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
}

@media only screen and (max-width: 913px) {
  h1 {
    font-size: 48px;
    font-weight: bold;
  }

  h2 {
    font-size: 32px;
    font-weight: Medium;
  }

  p {
    font-size: 24px;
    font-weight: Medium;
  }

  button {
    font-size: 16px;
  }

  .video-responsive {
    overflow: hidden;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 32px;
  }
}